asgiref==3.11.1
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.6
cryptography==46.0.5
Django==6.0.6
django-allauth==65.15.0
django-cors-headers==4.7.0
django-redis==6.0.0
djangorestframework==3.16.1
idna==3.11
pillow==12.1.1
psycopg2-binary==2.9.11
pycparser==3.0
PyJWT==2.12.1
python-dotenv==1.2.2
random-username==1.0.2
redis==7.4.0
requests==2.32.5
sqlparse==0.5.5
tzdata==2025.3
urllib3==2.6.3
whitenoise==6.12.0
gunicorn==26.0.0
